#menu-options{
    list-style-type:none;
}
.menu-option{
    text-align: center;
    font-size: 3em;
    border: 10px black solid;
    font-family: 'ZCOOL KuaiLe', cursive;
    background-color: white;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}
.menu-option:hover{
    background-color: red;
    cursor: pointer;
}
#display{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}